* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header > h1 {
	color: #40474f;
	text-shadow: none;
	font: 2.5em 'Flamenco', serif;
	margin: 15px;
	padding-left: 8px;
	float: left;
	cursor: default;
	
}

#user-actions, #user-login {
	height: 32px;
  	position: relative;
  	color: #40476a;
  	font-variant: small-caps;
  	float: right;
  	right: 10px;
	padding: 10px 40px 0px 0px;
}

#user-actions a:hover, #user-login a:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
}

#small-login {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1000;
	padding: 10px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: none;
	background: white;
	width: 200px;
}

#small-login input[type="text"], #small-login input[type="password"] {
	border: 1px solid #CCC;
	display: block;
}

#small-login input[type="submit"] {
	margin-top: 5px;
	float: right;
}

#small-login #register {
	font-size: 8pt;
	width: 180px;
}

#small-login .login-cancel {
	font-size: 10pt;
	float: left;
}

#schedules-container {
	width: 100%;
	margin: 10px auto;
}

#schedules-container .more-schedules, #schedules {
	display: none;
}

#schedules .hide-schedules {
	display: inline-block;
}

#schedules a {
	text-decoration: none;
	color: black;
}

#course-col {
	width: 100%;
	max-height: 693px;
	margin: 0px 10px 10px 0px;
	height: 100%;
	z-index: 70;
	display: none;
}

#columnNav {
	height: 100%;
	position: relative;
}

#return {
	position: relative;
	bottom: 0;
}

#full-cal-container {
	height: 100%;
	min-width: 400px;
	position: relative;
	max-height: 693px;
}

#cal-header {
	min-width: 400px;
	position: relative;
	height: 24px;
	font-size: 1.2em;
	color: #484c55;
	margin-right: 15px;
  z-index: 100;
}

#calendar-container {
	height: 100%;
	max-height: 693px;
	position: absolute;
	top: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	z-index: 10;
  border: 1px solid #a4a4a4;
}

#days {
	margin-left: 10%;
	position: absolute;
	width: 90%;
	height: 1em;
}

#cal-header .day {
	position: absolute;
	top: -24px;
	width: 20%;
	height: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	font: 400 .8em Quicksand;
  color: #d6d6d6;
}

#cal-header .day.mon {
  left: 0px;
}

#main-content {
	padding-right: 239px;
	margin: 20px 50px auto 20px;
	height: 100%;
}

.add-section {
	margin: 10px 2px 10px 0px;
	height: 44px; 
	bottom: 0px;
	display: inline-block;
}

#toolbar button {
  float: right;
  margin: 0px 12px;
  height: 40px;
  text-align: center;
  font: 1.7em/20px "Poiret One", sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}

button#help {
  height: 35px;
  width: 35px;
  margin: 2px;
  float: right;
  background: rgb(119,88,183);
  background: -moz-linear-gradient(top,  rgba(119,88,183,1) 0%, rgba(163,125,193,1) 53%, rgba(119,88,183,1) 60%, rgba(106,25,160,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,88,183,1)), color-stop(53%,rgba(163,125,193,1)), color-stop(60%,rgba(119,88,183,1)), color-stop(100%,rgba(106,25,160,1)));
  background: -webkit-linear-gradient(top,  rgba(119,88,183,1) 0%,rgba(163,125,193,1) 53%,rgba(119,88,183,1) 60%,rgba(106,25,160,1) 100%);
  background: -o-linear-gradient(top,  rgba(119,88,183,1) 0%,rgba(163,125,193,1) 53%,rgba(119,88,183,1) 60%,rgba(106,25,160,1) 100%);
  background: -ms-linear-gradient(top,  rgba(119,88,183,1) 0%,rgba(163,125,193,1) 53%,rgba(119,88,183,1) 60%,rgba(106,25,160,1) 100%);
  background: linear-gradient(top,  rgba(119,88,183,1) 0%,rgba(163,125,193,1) 53%,rgba(119,88,183,1) 60%,rgba(106,25,160,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7758b7', endColorstr='#6a19a0',GradientType=0 );
  
  
  color: #ffffff;
  border: 1px solid #4b107c;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font: 1.85em Flamenco;
}
button#help:hover {
  background: rgb(127,103,181);
  background: -moz-linear-gradient(top,  rgba(127,103,181,1) 0%, rgba(165,133,191,1) 53%, rgba(127,103,181,1) 60%, rgba(136,43,155,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(127,103,181,1)), color-stop(53%,rgba(165,133,191,1)), color-stop(60%,rgba(127,103,181,1)), color-stop(100%,rgba(136,43,155,1)));
  background: -webkit-linear-gradient(top,  rgba(127,103,181,1) 0%,rgba(165,133,191,1) 53%,rgba(127,103,181,1) 60%,rgba(136,43,155,1) 100%);
  background: -o-linear-gradient(top,  rgba(127,103,181,1) 0%,rgba(165,133,191,1) 53%,rgba(127,103,181,1) 60%,rgba(136,43,155,1) 100%);
  background: -ms-linear-gradient(top,  rgba(127,103,181,1) 0%,rgba(165,133,191,1) 53%,rgba(127,103,181,1) 60%,rgba(136,43,155,1) 100%);
  background: linear-gradient(top,  rgba(127,103,181,1) 0%,rgba(165,133,191,1) 53%,rgba(127,103,181,1) 60%,rgba(136,43,155,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f67b5', endColorstr='#882b9b',GradientType=0 );
  
}
button#help:active {
  -moz-box-shadow: inset 0 1px 8px #3c006c;
  -webkit-box-shadow: inset 0 1px 8px #3c006c;
  box-shadow: inset 0 1px 8px #3c006c;
  line-height: 1.15em;
}
button#help.active {
  -moz-box-shadow: inset 0 1px 8px #3c006c;
  -webkit-box-shadow: inset 0 1px 8px #3c006c;
  box-shadow: inset 0 1px 8px #3c006c;
  line-height: 1.15em;
}

#regen {
	margin: 8px;
  width: 190px;
  height: 40px;
}

button#col-toggle {
  float: left;
  top: 61px;
  width: 44px;
  margin: 0px;
  height: 40px;
  text-align: center;
  font-family: "American Typewriter", Helvetica;
}

#toolbar {
	margin: 0px 0px 30px;
	padding: 5px 20px;
	height: 40px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.divider_h {
  width: 100%;
  height: 1px;
  margin: 0px 0px 12px;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 52%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(52%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 52%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 52%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 52%,rgba(0,0,0,0) 100%);
  background: linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 52%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
  opacity: 0.2;
}

#content {
	height: 80%;
	min-width: 740px;
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 -5px 40px #fefefe;
  -webkit-box-shadow: 0 -5px 40px #fefefe;
  box-shadow: 0 -5px 40px #fefefe;
}

#sidebar {
	height: 700px;
	width: 240px;
	margin: 20px 40px 0px 0px;
	border-top-style: none;
	z-index: 200;
	position: absolute;
	right: 0px;
}

#sidebar div.title {
	padding: 0px 0px;
	margin-top: -6px;
	margin-bottom: 0px;
	width: 210px;
	position: absolute;
	color: #8f8f8f;
	z-index: 200;
  /*border-bottom: 1px solid #8d8d8d;*/
  background-color: #fdfdfd;
  -moz-box-shadow: 0 5px 5px #fdfdfd;
  -webkit-box-shadow: 0 5px 5px #fdfdfd;
  box-shadow: 0 5px 5px #fdfdfd;
  font: 1.8em "Poiret One";
}

#resize {
  height: 100%;  
  top: 0px;
}

#schedule-courses, #schedule-conflicts {
	min-height: 80px;
	height: 120px;
  border-left: 3px dotted #dfdfdf;
  padding-left: 10px;
}

#sidebar .course {
	position: relative;
	margin: 0px 0px 0px 5px;
	height: 35px;
	color: black;
	font: 400 1em Quicksand;
	padding: 5px 0px;
	font-size: 9pt;
}

#sidebar .course:first-child {
	border-top: none;
	white-space: nowrap;
	overflow: hidden;
}

.course .instructor {
	display: block;
	font-size: 8pt;
}

#time-axis {
	position: absolute;
	width: 10%;
	height: 682px;
	border-right: 1px solid lightgrey;
	padding-top: 10px;
}

#calendar {
	position: absolute;
	right: 0px;
	width: 90%;
	height: 100%;
	z-index: 10;
	margin-top: 0px;
}

#grid {
	position: absolute;
	right: 0;
	width: 90%;
	height: 100%;
	z-index: 0;
}

#time-axis .time {
	height: 45px;
	margin-right: 2px;
	color: #717171;
	font-size: .7em;
	text-align: right;
	font-variant: small-caps;
}


#calendar .course {
	position: absolute;
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10pt;
	word-wrap: break-word;
	overflow: hidden;
	background-color: #f5f5f5;
	width: 20%;
	margin: 0;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 2px solid #d50000;
	padding-right: 1px;
}
#calendar .course.limbo {
	width: 18%;
	margin: 0 1%;
	background: white;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#calendar .course.limbo {
	border: 1px solid #ccc;
	color: #ccc;
}

#calendar .course.swapee {
	border-left-style: dashed;
}

.grid-halfhour {
	width: 100%;
	height: 23px;
	position: relative;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid-halfhour:nth-child(even) {
	height: 22px;
	border-bottom: 1px solid whitesmoke;
}
.grid-halfhour:nth-child(odd) {
	border-bottom: 1px solid #eaeaea;
}

.grid-halfhour:first-of-type {
	height: 16px;
}
.grid-halfhour:last-of-type {
	border-bottom: none;
}

.grid-day {
	width: 20%;
	height: 100%;
	border-right: 1px solid #eaeaea;
	position: absolute;
}

.mon {
	left: 0;
}

.tue {
	left: 20%;
}

.wed {
	left: 40%;
}

.thu {
	left: 60%;
}

.fri {
	left: 80%;
	padding-right: 17px;	
}

#schedules a {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 0 2px;
}

.cancel {
	position: relative;
	right: 0px;
	z-index: 100;
}

#sidebar .course:first-of-type {
	border: none;
	margin-top: 4px;
}

#sidebar .course .title {
	display: block;
	font-weight: 700;
}

.fade_right {
  height: 1px;
  width: 80%;
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
  position: absolute;
  bottom: -2px;
  opacity: 0.35;
}

#sidebar button.swap{
	height: 35px;
	width: 25px;
	float: left;
	border: 1px solid #abccec;
	padding: 0;
	margin: 0 10px 0 0;
	background: url(../images/ic_sync.png) no-repeat center center #f8fafd;
	cursor: pointer;
}

#sidebar button.swap:hover{
	border-color: #94dafe;
	-moz-box-shadow: 0 0 2px #ace2ff, inset 0 0 4px #a7e0fe;
	-webkit-box-shadow: 0 0 2px #ace2ff, inset 0 0 4px #a7e0fe;
	box-shadow: 0 0 2px #ace2ff, inset 0 0 4px #a7e0fe;
	z-index: 210;
}

#sidebar button.swap:active{
	border-color: #94dafe;
	-moz-box-shadow: inset 0 2px 4px lightgrey, 0 0 8px #aefeff, inset 0 0 8px #aefeff;
	-webkit-box-shadow: inset 0 2px 4px lightgrey, 0 0 8px #aefeff, inset 0 0 8px #aefeff;
	box-shadow: inset 0 2px 4px lightgrey, 0 0 8px #aefeff, inset 0 0 8px #aefeff;
	z-index: 210;
}

#schedule-courses button.swap {
	display: none;
}

#sidebar ul.list {
	overflow-y: auto;
	overflow-x: visible;
	width: 240px;
}

#sidebar li.course:first-child {
	margin-top: 44px;
}

.hsplitbar {
	height: 22px;
	cursor: ns-resize;
	background: url(../images/drag_v.png) no-repeat center center;
  opacity: 0.2;
}

button#regen.hero {
  color: #ffffff;
  background: rgb(201,38,38);
  background: -moz-linear-gradient(top,  rgba(201,38,38,1) 0%, rgba(252,47,47,1) 62%, rgba(207,4,4,1) 67%, rgba(255,48,48,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,38,38,1)), color-stop(62%,rgba(252,47,47,1)), color-stop(67%,rgba(207,4,4,1)), color-stop(100%,rgba(255,48,48,1)));
  background: -webkit-linear-gradient(top,  rgba(201,38,38,1) 0%,rgba(252,47,47,1) 62%,rgba(207,4,4,1) 67%,rgba(255,48,48,1) 100%);
  background: -o-linear-gradient(top,  rgba(201,38,38,1) 0%,rgba(252,47,47,1) 62%,rgba(207,4,4,1) 67%,rgba(255,48,48,1) 100%);
  background: -ms-linear-gradient(top,  rgba(201,38,38,1) 0%,rgba(252,47,47,1) 62%,rgba(207,4,4,1) 67%,rgba(255,48,48,1) 100%);
  background: linear-gradient(top,  rgba(201,38,38,1) 0%,rgba(252,47,47,1) 62%,rgba(207,4,4,1) 67%,rgba(255,48,48,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92626', endColorstr='#ff3030',GradientType=0 );
  
  border: 1px solid #fe0b0b;
  text-shadow: 0 01px 0 #4e4e4e;
}
button#regen.hero:hover {
  background: rgb(211,29,29);
  background: -moz-linear-gradient(top,  rgba(211,29,29,1) 0%, rgba(255,20,20,1) 62%, rgba(219,0,0,1) 67%, rgba(255,25,25,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,29,29,1)), color-stop(62%,rgba(255,20,20,1)), color-stop(67%,rgba(219,0,0,1)), color-stop(100%,rgba(255,25,25,1)));
  background: -webkit-linear-gradient(top,  rgba(211,29,29,1) 0%,rgba(255,20,20,1) 62%,rgba(219,0,0,1) 67%,rgba(255,25,25,1) 100%);
  background: -o-linear-gradient(top,  rgba(211,29,29,1) 0%,rgba(255,20,20,1) 62%,rgba(219,0,0,1) 67%,rgba(255,25,25,1) 100%);
  background: -ms-linear-gradient(top,  rgba(211,29,29,1) 0%,rgba(255,20,20,1) 62%,rgba(219,0,0,1) 67%,rgba(255,25,25,1) 100%);
  background: linear-gradient(top,  rgba(211,29,29,1) 0%,rgba(255,20,20,1) 62%,rgba(219,0,0,1) 67%,rgba(255,25,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31d1d', endColorstr='#ff1919',GradientType=0 );
    -moz-box-shadow: 0 0 12px rgb(255, 24, 24);
  -webkit-box-shadow: 0 0 12px rgb(255, 24, 24);
  box-shadow: 0 0 12px rgb(255, 24, 24);
}
button#regen.hero:active {
  -moz-box-shadow: inset 0 0 12px #880220;
  -webkit-box-shadow: inset 0 0 12px #880220;
  box-shadow: inset 0 0 12px #880220;
  line-height: 1.15px;
}

button#regen.passive {
  border: 1px solid #e67272;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  
  color: #666666;

  
}
button#regen.passive:hover {
  border: 1px solid #f85d5d;
  color: #282828;
  -moz-box-shadow: 0 0 2px rgba(255, 7, 7, 0.02), inset 0 0 2px rgba(255, 7, 7, 0.08);
  -webkit-box-shadow: 0 0 2px rgba(255, 7, 7, 0.02), inset 0 0 2px rgba(255, 7, 7, 0.08);
  box-shadow: 0 0 2px rgba(255, 7, 7, 0.02), inset 0 0 2px rgba(255, 7, 7, 0.08);
}
button#regen.passive:active {
  -moz-box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.26);
  line-height: 1.15em;
  -moz-box-shadow: inset 0 0 10px rgba(255, 7, 7, 0.08);
  -webkit-box-shadow: inset 0 0 10px rgba(255, 7, 7, 0.08);
  box-shadow: inset 0 0 10px rgba(255, 7, 7, 0.08);
  -moz-box-shadow: inset 0 1px 8px darkgrey;
  -webkit-box-shadow: inset 0 1px 8px darkgrey;
  box-shadow: inset 0 1px 8px darkgrey;
}

button#col-toggle.hero {
  color: #ffffff;
  border: 1px solid #4fa2c7;
  background: rgb(182,218,234);
  background: -moz-linear-gradient(top,  rgba(182,218,234,1) 0%, rgba(117,190,239,1) 50%, rgba(92,176,219,1) 51%, rgba(182,214,234,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,218,234,1)), color-stop(50%,rgba(117,190,239,1)), color-stop(51%,rgba(92,176,219,1)), color-stop(100%,rgba(182,214,234,1)));
  background: -webkit-linear-gradient(top,  rgba(182,218,234,1) 0%,rgba(117,190,239,1) 50%,rgba(92,176,219,1) 51%,rgba(182,214,234,1) 100%);
  background: -o-linear-gradient(top,  rgba(182,218,234,1) 0%,rgba(117,190,239,1) 50%,rgba(92,176,219,1) 51%,rgba(182,214,234,1) 100%);
  background: -ms-linear-gradient(top,  rgba(182,218,234,1) 0%,rgba(117,190,239,1) 50%,rgba(92,176,219,1) 51%,rgba(182,214,234,1) 100%);
  background: linear-gradient(top,  rgba(182,218,234,1) 0%,rgba(117,190,239,1) 50%,rgba(92,176,219,1) 51%,rgba(182,214,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6daea', endColorstr='#b6d6ea',GradientType=0 );
  
  
  
  font-size: 2em;
  line-height: .1em;
  text-shadow: 0 1px 0 #3d3d3d;
}
button#col-toggle.hero:hover {
  background: rgb(199,222,232);
  background: -moz-linear-gradient(top,  rgba(199,222,232,1) 0%, rgba(133,194,234,1) 50%, rgba(110,181,216,1) 51%, rgba(192,216,232,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(199,222,232,1)), color-stop(50%,rgba(133,194,234,1)), color-stop(51%,rgba(110,181,216,1)), color-stop(100%,rgba(192,216,232,1)));
  background: -webkit-linear-gradient(top,  rgba(199,222,232,1) 0%,rgba(133,194,234,1) 50%,rgba(110,181,216,1) 51%,rgba(192,216,232,1) 100%);
  background: -o-linear-gradient(top,  rgba(199,222,232,1) 0%,rgba(133,194,234,1) 50%,rgba(110,181,216,1) 51%,rgba(192,216,232,1) 100%);
  background: -ms-linear-gradient(top,  rgba(199,222,232,1) 0%,rgba(133,194,234,1) 50%,rgba(110,181,216,1) 51%,rgba(192,216,232,1) 100%);
  background: linear-gradient(top,  rgba(199,222,232,1) 0%,rgba(133,194,234,1) 50%,rgba(110,181,216,1) 51%,rgba(192,216,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7dee8', endColorstr='#c0d8e8',GradientType=0 );
  
  
}
button#col-toggle.hero:active {
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.26);
  line-height: 1.15em;
}

button#col-toggle.passive {
  border: 1px solid #5995d8;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  color: #6e6666;
}
button#col-toggle.passive:hover {
  color: #323232;
  border-color: #1c82f7;
  -moz-box-shadow: inset 0 0 2px rgba(34, 63, 254, 0.19);
  -webkit-box-shadow: inset 0 0 2px rgba(34, 63, 254, 0.19);
  box-shadow: inset 0 0 2px rgba(34, 63, 254, 0.19);
}
button#col-toggle.passive:active {
  -moz-box-shadow: inset 0 1px 8px darkgrey;
  -webkit-box-shadow: inset 0 1px 8px darkgrey;
  box-shadow: inset 0 1px 8px darkgrey;
  line-height: 1.15em;
}

%button#col-toggle.add-section.unexpanded {
  background: url(../images/ic_plus.png) no-repeat center center;
}

%button#col-toggle.add-section.expanded {
  background: url(../images/ic_minus.png) no-repeat center center;
}


.req, .opt {
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 16px 6px;
  top: -6px;
  cursor: pointer;
}

.req {
  background-color: #ffce8d;
  border: 1px solid #a2845a;
  right: 4px;
}

.opt {
  background-color: #c4ff9b;
  border: 1px solid #7da063;
  right: 36px;
}

#columnNav li.container > ul > li {
  cursor: default;
}

#columnNav li.container > ul > li.description {
  margin-top: 10px;
  cursor: default;
}

p {
    font-family: Quattrocento, serif;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

#columnNav li.description > p {
	margin-top: 10px;
	padding: 5px;
	cursor: default;
  line-height: 1.1em;
  letter-spacing: 1.1px;
  text-align: left;
  font-family: Quattrocento, serif;
  text-indent: 24px;
}

#columnNav li.description .divider_h {
  margin: 10px 0px 10px 0px;
}

#columnNav li.description .dept {
  font-size: 1.4em;
}
#columnNav li.description .course {
  font-size: 1.1em;
}

#intro {
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
    -moz-box-shadow: 0 0 20px #ffffff;
    -webkit-box-shadow: 0 0 20px #ffffff;
    box-shadow: 0 0 20px #ffffff;
  }

#intro p {
  font-size: 1em;
  text-align: left;
}

.blue {
  color: #177adf;
}

.int1, .int2, .int3{
display: none;
}