header {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}

header > h1 {
	color: #40474f;
	text-shadow: none;
	font: 2.5em 'Flamenco', serif;
	margin: 15px;
	padding-left: 8px;
	float: left;
}

#user-actions, #user-login {
	height: 32px;
  	position: relative;
  	color: #40476a;
  	font-variant: small-caps;
  	float: right;
  	right: 10px;
	padding: 10px 40px 0px 0px;
}

#user-actions a:hover, #user-login a:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
}

#small-login {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1000;
	padding: 10px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: none;
	background: white;
	width: 200px;
}

#small-login input[type="text"], #small-login input[type="password"] {
	border: 1px solid #CCC;
	display: block;
}

#small-login input[type="submit"] {
	margin-top: 5px;
	float: right;
}

#small-login #register {
	font-size: 8pt;
	width: 180px;
}

#small-login .login-cancel {
	font-size: 10pt;
	float: left;
}

#schedules-container {
	width: 100%;
	margin: 40px auto;
}

#schedules-container .more-schedules, #schedules {
	display: none;
}

#schedules .hide-schedules {
	display: inline-block;
}

#schedules a {
	text-decoration: none;
	color: black;
}

#course-col {
	width: 100%;
	min-width: 600px;
	margin: 0px 10px 10px 0px;
	height: 715px;
	z-index: 70;
	background-color: rgb(244, 244, 244);
	display: none;
}

#columnNav {
	height: 100%;
	position: relative;
}

#return {
	position: relative;
	bottom: 0;
}

#full-cal-container {
	height: 100%;
	min-width: 400px;
	position: relative;
	max-height: 693px;
}

#cal-header {
	min-width: 400px;
	position: relative;
	height: 24px;
	font-size: 1.2em;
	color: #484c55;
	margin-right: 15px;
  z-index: 100;
}

#calendar-container {
	height: 100%;
	max-height: 693px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	background: white;
	z-index: 10;
	border: 1px solid #c2c1c1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#days {
	margin-left: 10%;
	position: absolute;
	width: 90%;
	height: 1em;
}

#cal-header .day {
	position: absolute;
	width: 20%;
	height: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	font: 400 .8em Quicksand;
  color: #545454;
  
}

#page-wrap {
	margin: auto;
	min-width: 920px;
	max-width: 1260px;
	height: 100%;
}

#inside {
	padding-top: 100px;
	overflow: visible;
	height: 100%;
}

#main-content {
	padding-right: 229px;
	margin: 20px 50px auto 20px;
	height: 100%;
}

.add-section {
	margin: 10px 2px 10px 0px;
	height: 44px; 
	bottom: 0px;
	display: inline-block;
}

#regen {
  	display: inline-block;
	margin: 10px 0px 10px 2px;
	height: 44px;
	width: 185px;
}

#toolbar {
	margin: -20px 40px 0px;
	text-align: center;
	height: 60px;
}

#content {
	height: 100%;
	position: relative;
	margin-top: 80px;
}

#sidebar {
	height: 700px;
	width: 240px;
	margin: 44px 40px 0px 0px;
	border-top-style: none;
	z-index: 200;
	position: absolute;
	right: 0px;
}

#sidebar div.title {
	padding: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 224px;
	height: 8px;
	left: -1px;
	top: -1px;
	position: absolute;
	color: #f1f1f1;
	border: 1px solid #64647b;
	z-index: 200;
	font: 400 1em/.5em Quicksand;
	
	background: rgb(132,144,165);
	background: -moz-linear-gradient(top,  rgba(132,144,165,1) 0%, rgba(108,119,142,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,144,165,1)), color-stop(100%,rgba(108,119,142,1)));
	background: -webkit-linear-gradient(top,  rgba(132,144,165,1) 0%,rgba(108,119,142,1) 100%);
	background: -o-linear-gradient(top,  rgba(132,144,165,1) 0%,rgba(108,119,142,1) 100%);
	background: -ms-linear-gradient(top,  rgba(132,144,165,1) 0%,rgba(108,119,142,1) 100%);
	background: linear-gradient(top,  rgba(132,144,165,1) 0%,rgba(108,119,142,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8490a5', endColorstr='#6c778e',GradientType=0 );
	
}

#resize {
  height: 100%;
}

#schedule-courses, #schedule-conflicts {
	border: 1px solid #d5d5d5;
	background-color: #fafafa;
	min-height: 80px;
	height: 120px;
}

#sidebar .course {
	position: relative;
	margin: 0px 0px 0px 5px;
	height: 35px;
	color: black;
	font: 400 1em Quicksand;
	padding: 5px 0px;
	font-size: 9pt;
}

#sidebar .course:first-child {
	border-top: none;
	white-space: nowrap;
	overflow: hidden;
}

.course .instructor {
	display: block;
	font-size: 8pt;
}

#time-axis {
	position: absolute;
	width: 10%;
	border-right: 1px solid lightgrey;
	padding-top: 10px;
}

#calendar {
	position: absolute;
	right: 0px;
	width: 90%;
	height: 100%;
	z-index: 10;
	margin-top: 0px;
}

#grid {
	position: absolute;
	right: 0;
	width: 90%;
	height: 100%;
	z-index: 0;
	background: white;
}

#fade-top {
	position: absolute;
	top: 25px;
	left: 1px;
	height: 20px;
	width: 9%;
	z-index: 20;


	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#fade-bottom {
	position: absolute;
	bottom: 0px;
	left: 1px;
	height: 20px;
	width: 9%;
	z-index: 21;

	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.time {
	height: 45px;
	margin-right: 2px;
	color: #7e7e7e;
	font-size: .7em;
	text-align: right;
	font-variant: small-caps;
}


#calendar .course {
	position: absolute;
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 10pt;
	word-wrap: break-word;
	overflow: hidden;
	background-color: #f5f5f5;
	width: 20%;
	margin: 0;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	border-left: 2px solid #d50000;
	padding-right: 1px;
}
#calendar .course.limbo {
	width: 18%;
	margin: 0 1%;
	background: white;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#calendar .course.limbo {
	border: 1px solid #ccc;
	color: #ccc;
}

#calendar .course.swapee {
	border-left-style: dashed;
}

.grid-halfhour {
	width: 100%;
	height: 23px;
	position: relative;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.grid-halfhour:nth-child(even) {
	height: 22px;
	border-bottom: 1px solid whitesmoke;
}
.grid-halfhour:nth-child(odd) {
	border-bottom: 1px solid lightgrey;
}

.grid-halfhour:first-of-type {
	height: 16px;
}
.grid-halfhour:last-of-type {
	border-bottom: none;
}

.grid-day {
	width: 20%;
	height: 100%;
	border-right: 1px solid lightgrey;
	position: absolute;
}

.mon {
	left: -1px;
}

.tue {
	left: 20%;
}

.wed {
	left: 40%;
}

.thu {
	left: 60%;
}

.fri {
	left: 80%;
	padding-right: 15px;	
}

#schedules a {
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 0 2px;
}

.cancel {
	position: relative;
	right: 0px;
	z-index: 100;
}

#sidebar .course:first-of-type {
	border: none;
	margin-top: 4px;
}

#sidebar .course .title {
	display: block;
	font-weight: 700;
}

#sidebar button.swap{
	height: 35px;
	width: 25px;
	float: left;
	border: 1px solid #abccec;
	padding: 0;
	margin: 0 10px 0 0;
	background: url(../images/ic_sync.png) no-repeat center center #f8fafd;
	cursor: pointer;
}

#sidebar button.swap:hover{
	border-color: #94dafe;
	-moz-box-shadow: 0 0 2px #ace2ff, inset 0 0 4px #a7e0fe;
	-webkit-box-shadow: 0 0 2px #ace2ff, inset 0 0 4px #a7e0fe;
	box-shadow: 0 0 2px #ace2ff, inset 0 0 4px #a7e0fe;
	z-index: 210;
}

#sidebar button.swap:active{
	border-color: #94dafe;
	-moz-box-shadow: inset 0 2px 4px lightgrey, 0 0 8px #aefeff, inset 0 0 8px #aefeff;
	-webkit-box-shadow: inset 0 2px 4px lightgrey, 0 0 8px #aefeff, inset 0 0 8px #aefeff;
	box-shadow: inset 0 2px 4px lightgrey, 0 0 8px #aefeff, inset 0 0 8px #aefeff;
	z-index: 210;
}

#schedule-courses button.swap {
	display: none;
}

#sidebar ul.list {
	overflow-y: scroll;
	overflow-x: visible;
	width: 240px;
	left: -2px;
}

#sidebar li.course:first-child {
	margin-top: 44px;
}

.hsplitbar {
	height: 10px;
	cursor: ns-resize;
	background: url(../images/drag_v.png) no-repeat center center;
}
