#columnNav {
border: 1px solid #d3d3d3;
}

#return {
	position: relative;
	top: 75%;
	background-color: #ffffff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

li.container {
	height: 100%;
	position: relative;
	top: 0;
}

li.container > ul {
	height: 100%;
	width: 33%;
	top: 0;
	margin-left: 33%; /*must be width of the columns*/
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #f8f8f8;
}

li.container > ul.sections {
	width: 50%;
	margin-left: 50%;
}

li.container > ul.courses > li {
	margin-left: 0px;
}

li.container > ul.departments {
	margin-left: 0px;
}

li.container > ul.departments > li {
	margin-left: 0px;
}

li.container {
	margin-left: 0px;
}

.container > ul {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	

	margin-left: 0px;
	padding: 0px;
}

ul.sections {
	display: hidden;
}

li.department > ul, li.course > ul {
	margin-left: -8px;
}

.sections_container {
	z-index: -30;
	display: hidden;
}

.courses_container {
	z-index: -20;
	display: hidden;
}

.departments_container {
	z-index: 0;
}

.department > ul > li {
	display: none;
}

.course > ul > li {
	display: none;
}

li.container {
	height: 100%;
	width: 100%;
	position: absolute;
}

li.container .sections_container{
	width: 67%;
}

ul > li.selected {
	background-color: #e8e8e8;
	color: #000000;
	border: 1px solid #d5d5d5;
	
	padding: 1px 7px;
}

li.department {
	font-size: 1.2em;
	cursor: pointer;
	padding: 2px 8px;
}

li.course {
	font-size: 0.8em;
	cursor: pointer;
	padding: 2px 8px;
	color: #3e424b;
}

li.section:first-child {
	border: none;
}

li.section {
	position: relative;
	cursor: pointer;
	padding: 2px 8px;
	color: #3e424b;
	border-top: 1px solid #CCC;
}

li.section .clue {
	position: absolute;
	top: 10px;
	right: 3px;
	float: right;
	font-size: 10pt;
	border: 1px solid #CCC;
	padding: 2px;
	color: white;

	background: #9dd53a; /* Old browsers */
	background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
	background: linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}

li.description {
	margin-top: 10px;
	border-top: 1px dotted #CCC;
	padding: 10px 5px 5px 5px;
	font: 11pt georgia, 'times new roman' serif;
	font-size: 16px;
	line-height: 22px;
	cursor: default;
}

#columnNav .days {
}

#columnNav .time {
	color: black;
}
