#columnNav {
}

#return {
	position: relative;
	top: 75%;
	background-color: #ffffff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

li.container {
	height: 100%;
	position: relative;
	top: 0;
}

li.container > ul {
	height: 100%;
	width: 33.33%;
	top: 0;
	margin-left: 33.33%; /*must be width of the columns*/
	border: 1px solid #d3d3d3;
	overflow-y: scroll;
	background-color: #f8f8f8;
}

li.container > ul.departments {
	margin-left: 10px;
}

li.container {
	margin-left: -10px;
}

.container > ul {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	
	box-sizing: border-box;
	margin-left: -8px;
	padding: 0px;
}

ul.sections {
	display: hidden;
}

.sections_container {
	z-index: -10;
}

.courses_container {
	z-index: -20;
	display: hidden;
}

.departments_container {
	z-index: 30;
}

.department > ul > li {
	display: none;
}

.course > ul > li {
	display: none;
}

li.container {
	height: 100%;
	width: 100%;
	position: absolute;
}

ul > li.selected {
	background-color: #e8e8e8;
	color: #000000;
	border: 1px solid #d5d5d5;
		margin: -1px;
	
}

li.department {
	font-size: 1.2em;
	cursor: pointer;
	padding: 2px 8px;
}

li.course {
	font-size: 0.8em;
	cursor: pointer;
	padding: 2px 8px;
	color: #3e424b;
}

li.section {
	cursor: pointer;
	padding: 2px 8px;
	color: #3e424b;
}

#columnNav .days {
}

#columnNav .time {
	color: black;
}
