#columnNav {
border: 1px solid #d3d3d3;
}

#return {
	position: relative;
	top: 75%;
	background-color: #ffffff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

li.container {
	height: 100%;
	position: relative;
	top: 0;
}

li.container > ul {
	height: 100%;
	width: 33%;
	top: 0;
	margin-left: 33%; /*must be width of the columns*/
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #f8f8f8;
}

li.container > ul.sections {
	width: 50%;
	margin-left: 50%;
}

li.container > ul.courses > li {
	margin-left: 0px;
}

li.container > ul.departments {
	margin-left: 0px;
}

li.container > ul.departments > li {
	margin-left: 0px;
}

li.container {
	margin-left: 0px;
}

.container > ul {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	

	margin-left: 0px;
	padding: 0px;
}

ul.sections {
	display: hidden;
}

li.department > ul, li.course > ul {
	margin-left: -8px;
}

.sections_container {
	z-index: -30;
	display: hidden;
}

.courses_container {
	z-index: -20;
	display: hidden;
}

.departments_container {
	z-index: 0;
}

.department > ul > li {
	display: none;
}

.course > ul > li {
	display: none;
}

li.container {
	height: 100%;
	width: 100%;
	position: absolute;
}

li.container .sections_container{
	width: 67%;
}

ul > li.selected {
	background-color: #e8e8e8;
	color: #000000;
	border: 1px solid #d5d5d5;
	
	padding: 1px 7px;
}

li.department {
	font-size: 1.2em;
	cursor: pointer;
	padding: 2px 8px;
}

li.course {
	font-size: 0.8em;
	cursor: pointer;
	padding: 2px 8px;
	color: #3e424b;
}

li.section {
	cursor: pointer;
	padding: 2px 8px;
	color: #3e424b;
}

#columnNav .days {
}

#columnNav .time {
	color: black;
}
