/* @group Header */

html {
	background-image: url('../images/background.png');
	font-family: Coustard, serif;
}

body {
  margin: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

h1 {
	color: whitesmoke;
	font: lighter 2em 'Coustard', serif;
	margin: 0;
	padding-left: 8px;
	float: left;
}

#logout {
  text-align: right;
  position: relative;
  color: #ffffff;
  font-variant: small-caps;
  float: right;
  top: 10px;
  right: 10px;
}

#logout:hover {
	text-decoration: underline overline;
}

/* @end */

#dash_wrapper {
  margin-top: 100px;
  
}

#dash {
  width: 920px;
  margin: auto;
  position: relative;
  /*background-color: rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.42);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.42);*/
  
	background: -moz-linear-gradient(top,  rgba(252,254,255,0.3) 0%, rgba(255,255,255,0.28) 16%, rgba(232,232,232,0.28) 17%, rgba(245,247,249,0.15) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,254,255,0.3)), color-stop(16%,rgba(255,255,255,0.28)), color-stop(17%,rgba(232,232,232,0.28)), color-stop(100%,rgba(245,247,249,0.15)));
	background: -webkit-linear-gradient(top,  rgba(252,254,255,0.3) 0%,rgba(255,255,255,0.28) 16%,rgba(232,232,232,0.28) 17%,rgba(245,247,249,0.15) 100%);
	background: -o-linear-gradient(top,  rgba(252,254,255,0.3) 0%,rgba(255,255,255,0.28) 16%,rgba(232,232,232,0.28) 17%,rgba(245,247,249,0.15) 100%);
	background: -ms-linear-gradient(top,  rgba(252,254,255,0.3) 0%,rgba(255,255,255,0.28) 16%,rgba(232,232,232,0.28) 17%,rgba(245,247,249,0.15) 100%);
	background: linear-gradient(top,  rgba(252,254,255,0.3) 0%,rgba(255,255,255,0.28) 16%,rgba(232,232,232,0.28) 17%,rgba(245,247,249,0.15) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dfcfeff', endColorstr='#26f5f7f9',GradientType=0 );
	

  
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.42);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.42);
  
  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  opacity: 1;
  border-bottom-color: #efefef;
  border: 2px solid rgba(255, 255, 255, 0.47);
}

/* @group Dashboard Nodes */

h2 {
	text-align: left;
	color: black;
}

.node {
  background: url(../images/square_bg.png) #ffffff;
  position: relative;
  padding: 10px;
  margin: 18px;
  float: left;
  width: 864px;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.65);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.65);
}

.rcount_2a {
  width: 413px;
  margin: 6px 9px 24px 18px;
}
.rcount_2b {
  width: 413px;
  margin: 6px 18px 24px 9px;
}

#content_0 {
}

#dash h2 {
	margin: -8px 0 4px 0;
	font: normal 1.5em 'Coustard', serif;
}

#dash p {
  margin: 0;
}

/* @end */

/* @group Subscribe */

#subscribe_bg {
	background-color: rgba(0, 0, 0, 0.9);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 50;
	display: none;
}

#subscribe {
	position: relative;
	top: 40%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	width: 500px;
	height: 120px;
	padding: 10px;
	z-index: 100;
	
	background: -moz-linear-gradient(top,  rgba(222,223,224,0.45) 0%, rgba(255,255,255,0.45) 16%, rgba(198,198,198,0.45) 17%, rgba(245,247,249,0.45) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,223,224,0.45)), color-stop(16%,rgba(255,255,255,0.45)), color-stop(17%,rgba(198,198,198,0.45)), color-stop(100%,rgba(245,247,249,0.45)));
	background: -webkit-linear-gradient(top,  rgba(222,223,224,0.45) 0%,rgba(255,255,255,0.45) 16%,rgba(198,198,198,0.45) 17%,rgba(245,247,249,0.45) 100%);
	background: -o-linear-gradient(top,  rgba(222,223,224,0.45) 0%,rgba(255,255,255,0.45) 16%,rgba(198,198,198,0.45) 17%,rgba(245,247,249,0.45) 100%);
	background: -ms-linear-gradient(top,  rgba(222,223,224,0.45) 0%,rgba(255,255,255,0.45) 16%,rgba(198,198,198,0.45) 17%,rgba(245,247,249,0.45) 100%);
	background: linear-gradient(top,  rgba(222,223,224,0.45) 0%,rgba(255,255,255,0.45) 16%,rgba(198,198,198,0.45) 17%,rgba(245,247,249,0.45) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73dedfe0', endColorstr='#73f5f7f9',GradientType=0 );
	
	
  
  	-moz-box-shadow: 0 0 rgb(255, 255, 255);
  	-webkit-box-shadow: 0 0 rgb(255, 255, 255);
  	box-shadow: 0 0 rgb(255, 255, 255);
  
  
  	-webkit-border-radius: 8px;
  	-moz-border-radius: 8px;
 	border-radius: 8px;
 	
 	border: 2px solid rgba(255, 255, 255, 0.4);
 	 }

#subscribe > p {
	margin: 28px auto 10px auto;
	width: 460px;
	color: #dfdfdf;
	font: italic 1.1em Georgia, "Times New Roman", Times, serif;
}

#subscribe > form > input:not(.button) {
	line-height: 1;
	height: 40px;
	text-align: right;
	border: 1.0px solid #ffffff;
	border-right-style: none;
	margin: -2px;
	
	-moz-box-shadow: -4px 2px 8px rgba(0, 0, 0, 0.38);
	-webkit-box-shadow: -4px 2px 8px rgba(0, 0, 0, 0.38);
	box-shadow: -4px 2px 8px rgba(0, 0, 0, 0.38);
	border-radius: 2px;
	background-color: #efefef;
	
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
	
	z-index: 10;
	position: relative;
	color: #404650;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.2em;
	padding: 0;
}

#subscribe > form > input.button {
	height: 42px;
	line-height: 1;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px;
	margin: -2px;
	font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 rgb(255, 255, 255);
}

#signedup {
	position: relative;
	
	margin: -40px auto;
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
	width: 374px;
	height: 40px;
	line-height: 2;
	border: 1.0px solid #ffffff;
	z-index: 10;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 1.2em;
	visibility: collapse;
}

