html {
	font-family: Quicksand, serif;
	background-image: url(../images/cross_scratches.png);
	height: 100%;
}

/* @group Header */

body {
	margin: 0 auto;
	height: 100%;
}

h1 {
	text-align: center;
	text-shadow: 0 -3px 2px black;
	color: whitesmoke;
	font: lighter 4em 'Coustard', serif;
	margin: 0;
}

h2 {
	color: #9d9d9d;
	text-align: center;
	margin: -8px 0 4px 0;
	font: normal 1em 'Coustard', serif;
	text-shadow: 0 -2px 1px black;
}

/* @end */

/* @group Features Chart */

#feature_wrapper{
	display: none;
	max-width: 600px;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 1px 0 1px 0;
	margin: 24px auto 24px auto;
	position: static;
	clear: both;
		
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.23);
	box-shadow: inset 0 2px 12px rgba(0, 0, 0, 0.45);
	
}


.feature {
	background-color: whitesmoke;
	text-align: center;
	padding: 10px;
	margin: 20px;
	width: auto;
	clear: both;
	border-style: solid;
	border-color: whitesmoke;
	
	background: #e0e0e0;
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #f7f7f7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#f7f7f7));
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#f7f7f7 100%);
	background: -o-linear-gradient(top,  #e0e0e0 0%,#f7f7f7 100%);
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#f7f7f7 100%);
	background: linear-gradient(top,  #e0e0e0 0%,#f7f7f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#f7f7f7',GradientType=0 );
	
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	
}

.feature > .img_text_wrapper {
	margin: auto;
	max-width: 500px;
}

.img_text_wrapper > p {
	color: #424a54;
}

.img_text_wrapper > img {
	text-align: left;
	float: left;
	margin-right: 30px;
}

p {
	text-align: justify;
	text-indent: 27px;
}

.script {
	font-family: 'Dancing Script', cursive;
}

.thanks {
	font-size: 4em;
	text-align: center;
	top: -24px;
	position: relative;
	color: #242424;
	padding: 0;
	margin: 0;
	text-shadow: 0 0 9px rgb(255, 255, 255), 0 1px 2px black, 0 1px 4px rgb(255, 255, 255);
}

#landing_wrapper {
	overflow: visible;
}

.landing_text {
	padding: 6px 18px;
	max-width: 540px;
	color: #272b32;
	opacity: 1;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.23);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.23);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.23);
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	word-spacing: 3px;
	line-height: 1.35em;
	background: url('../images/vichy.png') #fafafa;
/*	background: url('../images/square_bg.png') #fafafa;*/
	border: 12px solid rgba(46, 38, 51, 0.13);
	margin: 50px auto 40px;
}

.nav_buttons {
	margin: 20px auto;
	width: 355px;
	text-align: center;
	cursor: pointer;
}
.nav_buttons > div {
	float: left;
}

/* @end */

.button {
	text-align: center;
	background-color: rgb(188, 188, 188);
	padding: 8px;
	margin: 6px;
	width: 142px;
	
	border-style: solid;
	border-color: #ffffff;
	
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.61);
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.61);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.61);
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 rgb(255, 255, 255);
	color: #3f3f3f;
	text-decoration: none;
}

.button:hover {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	
}
.button:active {
	-moz-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.68);
	box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.68);

	background: #efefef;
	background: -moz-linear-gradient(top,  #efefef 0%, #e0e0e0 50%, #d6d6d6 51%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(50%,#e0e0e0), color-stop(51%,#d6d6d6), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top,  #efefef 0%,#e0e0e0 50%,#d6d6d6 51%,#efefef 100%);
	background: -o-linear-gradient(top,  #efefef 0%,#e0e0e0 50%,#d6d6d6 51%,#efefef 100%);
	background: -ms-linear-gradient(top,  #efefef 0%,#e0e0e0 50%,#d6d6d6 51%,#efefef 100%);
	background: linear-gradient(top,  #efefef 0%,#e0e0e0 50%,#d6d6d6 51%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=0 );
}

.button.hover_green {
	border-color: #b6db05;
}
.button.hover_green:hover {
	border-color: white;
	background: #d8ff59;
	background: -moz-linear-gradient(top,  #d8ff59 0%, #caed2f 16%, #bcdd2a 31%, #c1e026 50%, #aed600 51%, #cae550 67%, #d5ef3c 83%, #e2f96d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8ff59), color-stop(16%,#caed2f), color-stop(31%,#bcdd2a), color-stop(50%,#c1e026), color-stop(51%,#aed600), color-stop(67%,#cae550), color-stop(83%,#d5ef3c), color-stop(100%,#e2f96d));
	background: -webkit-linear-gradient(top,  #d8ff59 0%,#caed2f 16%,#bcdd2a 31%,#c1e026 50%,#aed600 51%,#cae550 67%,#d5ef3c 83%,#e2f96d 100%);
	background: -o-linear-gradient(top,  #d8ff59 0%,#caed2f 16%,#bcdd2a 31%,#c1e026 50%,#aed600 51%,#cae550 67%,#d5ef3c 83%,#e2f96d 100%);
	background: -ms-linear-gradient(top,  #d8ff59 0%,#caed2f 16%,#bcdd2a 31%,#c1e026 50%,#aed600 51%,#cae550 67%,#d5ef3c 83%,#e2f96d 100%);
	background: linear-gradient(top,  #d8ff59 0%,#caed2f 16%,#bcdd2a 31%,#c1e026 50%,#aed600 51%,#cae550 67%,#d5ef3c 83%,#e2f96d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8ff59', endColorstr='#e2f96d',GradientType=0 );
}
.button.hover_green:active {
	background: #96c916;
	background: -moz-linear-gradient(top,  #96c916 0%, #cddd7a 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c916), color-stop(99%,#cddd7a));
	background: -webkit-linear-gradient(top,  #96c916 0%,#cddd7a 99%);
	background: -o-linear-gradient(top,  #96c916 0%,#cddd7a 99%);
	background: -ms-linear-gradient(top,  #96c916 0%,#cddd7a 99%);
	background: linear-gradient(top,  #96c916 0%,#cddd7a 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c916', endColorstr='#cddd7a',GradientType=0 );
	
}

.button.hover_blue {
	border-color: #95ddfe;
}

.button.hover_blue:hover {
	border-color: white;
	background: #b8e1fc;
	background: -moz-linear-gradient(top,  #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #84b2e0 51%, #a2daf5 83%, #bdf3fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#84b2e0), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd));
	background: -webkit-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#84b2e0 51%,#a2daf5 83%,#bdf3fd 100%);
	background: -o-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#84b2e0 51%,#a2daf5 83%,#bdf3fd 100%);
	background: -ms-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#84b2e0 51%,#a2daf5 83%,#bdf3fd 100%);
	background: linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#84b2e0 51%,#a2daf5 83%,#bdf3fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 );
}
.button.hover_blue:active {
	background: #84b2e0;
	background: -moz-linear-gradient(top,  #84b2e0 25%, #b8e1fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#84b2e0), color-stop(100%,#b8e1fc));
	background: -webkit-linear-gradient(top,  #84b2e0 25%,#b8e1fc 100%);
	background: -o-linear-gradient(top,  #84b2e0 25%,#b8e1fc 100%);
	background: -ms-linear-gradient(top,  #84b2e0 25%,#b8e1fc 100%);
	background: linear-gradient(top,  #84b2e0 25%,#b8e1fc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b2e0', endColorstr='#b8e1fc',GradientType=0 );
	
}

.button.orange {
	background: #ffb76b;
	background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04));
	background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	background: linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
	
	
	font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
	text-shadow: none;
	color: #191919;
	border-right-color: #fb955c;
	border-color: #fb8043;
	border-style: none;
}
.button.orange:hover {
	border-color: #fcd194;

	background: #f9dcbb;
	background: -moz-linear-gradient(top,  #f9dcbb 0%, #f9ac54 50%, #f9912f 51%, #fcd194 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9dcbb), color-stop(50%,#f9ac54), color-stop(51%,#f9912f), color-stop(100%,#fcd194));
	background: -webkit-linear-gradient(top,  #f9dcbb 0%,#f9ac54 50%,#f9912f 51%,#fcd194 100%);
	background: -o-linear-gradient(top,  #f9dcbb 0%,#f9ac54 50%,#f9912f 51%,#fcd194 100%);
	background: -ms-linear-gradient(top,  #f9dcbb 0%,#f9ac54 50%,#f9912f 51%,#fcd194 100%);
	background: linear-gradient(top,  #f9dcbb 0%,#f9ac54 50%,#f9912f 51%,#fcd194 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9dcbb', endColorstr='#fcd194',GradientType=0 );
	-moz-box-shadow: 0 0 2px #fffea2;
	-webkit-box-shadow: 0 0 2px #fffea2;
	box-shadow: 0 0 2px #fffea2;
}
.button.orange:active {
	background: #f9c667;
	background: -moz-linear-gradient(top,  #f9c667 0%, #f79621 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621));
	background: -webkit-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -o-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: -ms-linear-gradient(top,  #f9c667 0%,#f79621 100%);
	background: linear-gradient(top,  #f9c667 0%,#f79621 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 );
	-moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.68);
	-webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.68);
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.68);
	border-color: #f1dac2;
}

button.neon {
  cursor: pointer; 
  border: 1px solid #d5d5d5;
  border-bottom-color: #f1f1f1;
  border-top-color: #d2d2d2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 10px #B3B3B3, 0px 6px 0px #E6E6E6, 0 8px 4px 1px #FFFFFF;
  -moz-box-shadow: inset 0 1px 10px #B3B3B3, 0px 1px 0 #CCCCCC, 0 6px 0px #E6E6E6, 0 8px 4px 1px #FFFFFF;
  -ms-box-shadow: inset 0 1px 10px #B3B3B3, 0px 1px 0 #CCCCCC, 0 6px 0px #E6E6E6, 0 8px 4px 1px #FFFFFF;
  -o-box-shadow: inset 0 1px 10px #B3B3B3, 0px 1px 0 #CCCCCC, 0 6px 0px #E6E6E6, 0 8px 4px 1px #FFFFFF;
  box-shadow: inset 0 0 6px #fff, inset 0 0 15px rgba(150, 150, 150, .2);
   color: #717171;
  font: lighter 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 10px 16px 12px 16px;
  text-align: center;
  text-shadow: 0 1px 0px #ffffff;
  -webkit-background-clip: padding-box;
  background: #f2f2f2;
  
}
  button.neon:hover {
    border: 1px solid #fff;
    cursor: pointer; 
    box-shadow: 0 0 15px rgba(255, 255, 255, .95), inset 0 0 15px rgba(255, 255, 255, .95), inset 0 0 6px #fff, inset 0 0 15px rgba(150, 150, 150, .65), 0px 1px 0px 0px #b1b1b1, 0px 6px 0px 0px #bfbfbf, 0px 6px 12px 0px #999;
}
  button.neon:active {
  	
    box-shadow: 0 0 15px rgba(255, 255, 255, .95), inset 0 0 15px rgba(255, 255, 255, .95), inset 0 0 6px #fff, inset 0 0 15px rgba(150, 150, 150, .65), 0px 1px 0px 0px #b1b1b1, 0px 3px 0px 0px #bfbfbf, 0px 4px 0px 0px #b9b9b9, 0px 2px 8px 0px #999; 
}

button.neon.green {
	border: 1px solid rgba(0, 199, 69, 0.6);
}
button.neon.green:hover {
	border: 1px solid #16ed62;
	cursor: pointer; 
	box-shadow: 0 0 8px rgba(115, 255, 40, 0.39), inset 0 0 8px rgba(115, 255, 40, .6), inset 0 0 6px #fff, inset 0 0 15px rgba(150, 150, 150, .2);
}
button.neon.green:active {
    box-shadow: 0 0 15px rgba(115, 255, 40, .6), inset 0 0 15px rgba(115, 255, 40, .6), inset 0 0 6px #fff, inset 0 0 15px rgba(150, 150, 150, .2), inset 0px 2px 3px 0px #999;
	line-height: 1.1em;
}

button.neon.orange {
	border: 1px solid #ffbb00;
}
button.neon.orange:hover {
	border: 1px solid #ffd800;
	box-shadow: 0 0 8px rgba(255, 193, 40, 0.54), inset 0 0 8px rgba(255, 201, 40, 0.6), inset 0 0 6px #fff, inset 0 0 15px rgba(150, 150, 150, .2);
}
button.neon.orange:active {
    box-shadow: 0 0 15px rgba(255, 164, 40, 0.6), inset 0 0 15px rgba(255, 164, 40, 0.6), inset 0 0 6px #fff, inset 0px 2px 3px 0px #999;
	line-height: 1.1em;
}

/* @group Subscribe */

#subscribe {
	text-align: center;
	margin-bottom: 20px;
}

#subscribe > p {
	margin: 28px auto 10px auto;
	width: 460px;
	color: #dfdfdf;
	font: italic 1.1em Georgia, "Times New Roman", Times, serif;
}

#subscribe > form > input:not(.button) {
	line-height: 1;
	height: 40px;
	text-align: right;
	border: 1.0px solid #ffffff;
	border-right-style: none;
	margin: -2px;
	
	-moz-box-shadow: -4px 2px 8px rgba(0, 0, 0, 0.38);
	-webkit-box-shadow: -4px 2px 8px rgba(0, 0, 0, 0.38);
	box-shadow: -4px 2px 8px rgba(0, 0, 0, 0.38);
	border-radius: 2px;
	background-color: #efefef;
	
	-webkit-border-radius: 2px 0px 0px 2px;
	-moz-border-radius: 2px 0px 0px 2px;
	border-radius: 2px 0px 0px 2px;
	
	z-index: 10;
	position: relative;
	color: #404650;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.2em;
	padding: 0;
}

#subscribe > form > input.button {
	height: 42px;
	line-height: 1;
	-webkit-border-radius: 0px 2px 2px 0px;
	-moz-border-radius: 0px 2px 2px 0px;
	border-radius: 0px 2px 2px 0px;
	margin: -2px;
	font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 rgb(255, 255, 255);
}

#subscribe_message {
	position: relative;
	
	margin: 20px auto;
	background: #f5f5f5 url('../images/bg.jpg') no-repeat left top;
	width: 374px;
	line-height: 2;
	border: 1.0px solid #ffffff;
	z-index: 10;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 1.2em;
	display: none;
}

#login {
	background: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 400px;
	padding: 10px 0;

	margin: auto;
	position: relative;
	display: none;
}

#login label {
}

form input.align {
	position: absolute;
	left: 120px;
	border: 1px solid gray;
	padding: 2px;
}

form input[type=submit] {
	margin-left: 120px;
}

#register {
	width: 720px;
	margin: auto;
	position: relative;
	padding: 10px;
	background: white;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

/* @end */

footer {
	margin-top: 80px;
	position: absolute;
	bottom: 0px;
	right: 0;
	z-index: -100;
}

.footer_text {
	float: right;
	text-align: right;
	font-size: .8em;
	color: #12202f;
	padding: 10px 20px;
}
