html, body {
  margin: 0;
  font-family: Quattrocento Sans, serif;
  background-image: url(../images/cross_scratches.png);
  height: 100%;
}

html {
  -moz-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
}

*.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* @group Header Elements */

header {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header > h1 {
	color: #40474f;
	text-shadow: none;
	font: 2.5em 'Flamenco', serif;
	margin: 15px;
	padding-left: 8px;
	float: left;
	cursor: default;
	
}

#___plusone_0 {
  position: relative;
  top: 3px;
}

/* @end Header Elements*/

/* @group Login Panel */

#small-login {
  position: relative;
  left: 50%;
}

#user-actions, #user-login {
	height: 32px;
  	position: relative;
  	color: #40476a;
  	font-variant: small-caps;
  	float: right;
  	right: 10px;
	padding: 10px 40px 0px 0px;
}

#user-actions a:hover, #user-login a:hover {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
}

#user-actions-wrapper {
	position: relative;
	left: -50%;
  margin: auto;
  width: 600px;
	height: 380px;
	background: white;
	border: 1px solid #7d7d7d;
	top: 40%;
	display: none;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.59);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.59);
  z-index: 1000;
}

#user-actions-wrapper h3{
  margin: 0 0 10px;
}

#user-actions-wrapper .close {
  text-align: center;
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 10px;
  z-index: 1;
  cursor: pointer;
}

#user-actions-wrapper #register {
	width: 400px;
  position: absolute;
  margin: 10px;
  left: 0;
  top: 40px;
}

#user-actions-wrapper #login {
	width: 200px;
  position: absolute;
  margin: 10px;
  right: 0;
  top: 40px;
}

.upper_border, .lower_border {
  height: 40px;
  width: 100%;
  position: absolute;
  background-image: url(../images/pinstriped_suit.png);
}

.lower_border {
  bottom: 0;
}

form input.align {
	left: 120px;
	border: 1px solid gray;
	padding: 2px;
	padding: 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

form label {
  display: block;
  font-size: .8em;
}

form input {
  display: block;
  margin-bottom: 10px;
}

/* @end Login Panel*/

