body{
	font-family: Helvetica, sans-serif;
}

#scratch_list{
	float: right;
}

a[href] {
	color: inherit;
	text-decoration: inherit;
}

.departments{
	font-size: 1.2em;
	line-height: 1.5em;
	color: black;
	height: 400px;
	width: 400px;
	overflow: scroll;
}

.department {
	width: 100px;
	z-index: 30;
}
.department:nth-child(odd) {
	background: skyblue;
}
.department:nth-child(even) {
	background: lightskyblue;
}

.course:nth-child(odd) {
	background: lightseagreen;
}
.course:nth-child(even) {
	background: seagreen;
}

.courses {
	color: black;
	margin-left: 100px;
	top: 0;
	z-index: 20;
	font-size: .8em;
}
.course {
	font-size: 1em;
	background-color: skyblue;
}

.sections{
	font-size: .8em;
	background-color: lightblue;
	padding-left: 0;
	margin-top: 8px;
	margin-left: 220px;
	top: 0;
}

.section {
	z-index: 10;
}

ul,ol{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

.selected_depart {
	background-color: darkblue;
}

.selected_courses {
	background-color: darkcyan;
}

.scratch_list{
	background-color: lightgreen;
	overflow-y: scroll;
}

.last_clicked_depart {
	background-color: purple;
}

