body{
	font-family: Helvetica, sans-serif;
	background-image: url(images/background.png);
	margin: 0;
}

.background {
	z-index: -1;
	height: 100%;
	width: 100%;
	position: fixed;
}

#header {
	padding: 24px 0 24px 0;
	
	text-align: center;
	font-size: 4em;
	font-weight: light;
	color: whitesmoke;
	text-shadow: 0px -1px 2px black;
}

#searchboxes {
	width: 755px;
	margin: auto;
}

#departments-search {
	position: relative;
	padding: 5px;
	margin-right: 16px;
	margin-left: -1px;
}

#courses-search {
	position: relative;
	padding: 5px;
	margin-left: -2px;
}

#schedules {
	overflow: scroll;
	padding: auto;
	left: 300px;
	height: 600px;
}

.schedule {
	margin: auto;
	padding: 34px;
	background-color: rgba(240, 240, 240, 0.5);
}

#sliders {
	height: 400px;
	margin: auto;
}

#course_list {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
	position: relative;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 70px;
	overflow: scroll;
}

#list {
	background-color: rgba(240, 240, 240, 0.6);
	bottom: 0;
	right: 0;
	padding: 10px;
	position: fixed;
	float: right;
	bottom: 0px;
	width: 240px;
	max-height: 600px;
	overflow: visible;
}

.list_days {
	text-align: left;
}
.list_time {
	text-align: left;
}
.list_course-title {
	text-align: left;
}

#myTree {

}

#generate_button {

}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #adadad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #adadad;
	box-shadow:inset 0px 1px 0px 0px #adadad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #525252), color-stop(1, #212121) );
	background:-moz-linear-gradient( center top, #525252 5%, #212121 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252', endColorstr='#212121');
	background-color:#525252;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #141414;
	display:inline-block;
	color:#ebebeb;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #8c8c8c;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #212121), color-stop(1, #525252) );
	background:-moz-linear-gradient( center top, #212121 5%, #525252 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#525252');
	background-color:#212121;
}.button:active {
	position:relative;
	top:1px;
}

#back_button {
	font-size: 1.8em;
	text-align: center;
	float: right;
	margin: 40px 45% 40px 0;
}

#list_title {
	margin: 3px;
	font-size: 1.2em;
}

a[href] {
	color: inherit;
	text-decoration: inherit;
}

.wrapper {
	padding-top: 30px;
	border-color: hidden;
	background-image: url(images/shadow_inset.png);
	background-size: contain;
	
	box-shadow:inset 0px 0px 16px rgba(36, 36, 36, .4);
	-moz-box-shadow:inset 0px 0px 16px rgba(36, 36, 36, .4);
	-webkit-box-shadow:inset 0px 0px 16px rgba(36, 36, 36, .4);
}

/* The *normal* state styling */
.section, .course, .department{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	
	
	padding: inherit;
	border:1px solid rgb(191, 190, 190);
	color:rgb(85, 85, 85);
	text-shadow:1px 1px 1px rgb(171, 171, 171);
}

.section:active, .course:active, .department:active,.section:focus, .course:focus, .department:focus{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	color:rgb(42, 41, 41);
	
	border: hidden;
	padding: 1px;
	
	box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
	-moz-box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
	-webkit-box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
}

.course.selected, .department.selected{
	background: #ededed;
	background: -moz-linear-gradient(top, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(53%,#f6f6f6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
	background: -o-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 );
	background: linear-gradient(top, #ededed 0%,#f6f6f6 53%,#ffffff 100%);
	color:rgb(42, 41, 41);
	
	border: hidden;
	padding: 1px;
	
	box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
	-moz-box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
	-webkit-box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
}

.department-title {
	padding: 6px;
	font-size: 1.2em;
}

.course-title {
	padding: 6px;
	font-size: .9em;
}

.section_text {
	padding: 6px;
}

.course_number {
	font-size: 1.1em;
}

.days {
	size: 1.05;
}
.time {
	font-weight: 200;
	size: 1.05;
}
.instructor, .crn {
	font-size: 0.8em;
	color: gray;
}

h3 {
	font-size: 1.8em;
	font-weight: bolder;
	
}

#schedules > .schedule {
	margin: auto 200px auto 200px;
}

.schedule > .course-title {
	padding: 0;
	padding-left: 20px;
	
	font-size: 1.2em;
	font-weight: 600;
}
.schedule > .days {
	font-weight: 500;
	size: 1.05;
	padding-left: 40px;
}
.schedule > .time {
	font-weight: 500;
	size: 1.05;
}
.schedule > .instructor {
	color: gray;
}
.schedule > .crn {
	padding-left: 40px;

	font-size: 1.05em;
	font-weight: 500;
	color: black;
}

ul,ol{
	list-style-type: none;
}

li {
	background-size: cover;
}

.listed{
	background: #e6f0a3;
	background: -moz-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043));
	background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	background: -o-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	background: -ms-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 );
	background: linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	color:rgb(42, 41, 41);
	
	border-color: #d2e638;
}
.listed:active {
	background: #c3d825;
	background: -moz-linear-gradient(top, #e6f0a3 0%, #c3d825 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(100%,#c3d825));
	background: -webkit-linear-gradient(top, #e6f0a3 0%,#c3d825 100%);
	background: -o-linear-gradient(top, #e6f0a3 0%,#c3d825 100%);
	background: -ms-linear-gradient(top, #e6f0a3 0%,#c3d825 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#c3d825',GradientType=0 );
	background: linear-gradient(top, #e6f0a3 0%,#c3d825 100%);
	color:rgb(42, 41, 41);
	
	border: hidden;
	padding: 1px;
	box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
	-moz-box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
	-webkit-box-shadow:inset 0px 4px 8px rgba(37, 36, 36, .6);
}

.delete-all {
	display: none;
}

.options {
	padding-left: 10px;
}
