!!! 5
%html
	%head
		%link{ "rel" => "stylesheet", "href" => "/css/calendar.css", "type" => "text/css" }
		%link{ "rel" => "stylesheet", "href" => "/css/styles.css", "type" => "text/css" }
		%link{ "rel" => "stylesheet", "href" => "/css/colNav_styles.css", "type" => "text/css" }
		%script{ "src" => "/js/jquery.js", "type" => "text/javascript" }
		%script{ "src" => "/js/jquery.splitter.js", "type" => "text/javascript" }
		%script{ "src" => "/js/calendar.js", "type" => "text/javascript" }
		%script{ "src" => "/js/newcolumnnav.js", "type" => "text/javascript" }
		%link{ "rel" => "stylesheet", "href" => "http://fonts.googleapis.com/css?family=Quicksand:400,300,700|Flamenco:300,400|Quantico", "type" =>"text/css"}


	%body.calendar
		#page-wrap
			#inside
				%header
					%h1 Knight Scheduler
					- if @session[:logged_in] == true
						#user-actions
							%a{"href" => "/dashboard"} dashboard
							%a{"href" => "/user/logout?redirect=calendar"} logout
					- else
						#user-login 
							%a login

				#small-login
					%form{"action" => "/user/authenticate.json", "method" => "post"}
						%div 
							%input{"name" => "email", "type" => "text"}
						%div
							%input{"name" => "password", "type" => "password"}

						#register
							Don't have an account? 
							%a{"href" => "/user/register"} register

						#message

						%input{"type" => "submit", "value" => "Go"}


				#sidebar
					#resize
						#schedule-courses
							.title Courses in Schedule
							%ul.list
						
						#schedule-conflicts
							.title Not in Schedule
							%ul.list

					%button.add-section.neon.orange
						+
				
					%button#regen.neon.green{"href" => "#"} Generate

				#main-content
					#col-toggle.unexpanded

					#course-col
						= haml :index, { :locals => { :data => @data } }
			
					
					#full-cal-container
						#cal-header
							#days
								.day.mon Mon
								.day.tue Tue
								.day.wed Wed
								.day.thu Thu
								.day.fri Fri
						#fade-top
						#fade-bottom
						#calendar-container
							#time-axis
								.time 8:00am
								.time 9:00am
								.time 10:00am
								.time 11:00am
								.time 12:00pm
								.time 1:00pm
								.time 2:00pm
								.time 3:00pm
								.time 4:00pm
								.time 5:00pm
								.time 6:00pm
								.time 7:00pm
								.time 8:00pm
								.time 9:00pm
								.time 10:00pm
							#grid

								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
								.grid-hour
									.grid-day.mon
									.grid-day.tue
									.grid-day.wed
									.grid-day.thu
									.grid-day.fri
							#calendar
		#schedules
				
