<html>
<head>
	<title>Scheduler</title>
</head>
<body>

<ul>
<% @department.courses.each do |course| %>
	<li>
		<%= course.title %>

		<ul>
			<% course.sections.each do |section| %>
				<li><%= section.section %></li>
			<% end %>
		</ul>
	</li>
<% end %>
</ul>

</body>
</html>
