<!DOCTYPE html>
<head>
	<title>Knight Scheduler [beta]</title>
    
	<link rel='stylesheet' href='/jquery.mCustomScrollbar.css' />
	<link rel='stylesheet' href='/styles.css' />
    
    	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
    	<link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
    
	<script type='text/javascript' src='jquery.js'></script>
	<script type='text/javascript' src='slider-scripts.js'></script>
    
	<script type='text/javascript' src='jquery.scrollTo-min.js'></script>
	<script type='text/javascript' src='columnnav.js'></script>
    
    	<script type='text/javascript' src='jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='jquery.mCustomScrollbar.js'></script>
    
    <script type="text/javascript">
        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8572766-9']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

<img class='background' src="images/background_gradient.png" alt="gradient" />

<div id="header">Knight Scheduler</div>
<h1>A new scheduling resource for Geneseo Students<img src="/images/beta.png" alt="beta!" id="beta">
</h1>
<div id='landing'>
    </br>
    <p>Schedule your classes the easy way.</p>
    <p>Browse course listings,</br>select class sections,</br>let Knight Scheduler handle the rest.
    
    <div id='begin' class='button_white'>Get Started</div>
    
    </br>
    
    <div class="wide"><p>As soon as the Spring '12 course information is made available on Knightweb, we will be able to update our site for next semester.</p>
    <p>We are currently still testing features, but take a look around and send us feedback at <a href="mailto:err2@geneseo.edu?subject=Knight Scheduler Feedback">err2@geneseo.edu</a> and <a href="mailto:hps1@geneseo.edu?subject=Knight Scheduler Feedback">hps1@geneseo.edu</a>.</p>
    <p>In the mean time, add Knight Scheduler to your bookmarks, share with your friends!</p>
  <div id="social">
    <div id='fb-wrapper'>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class="fb-like" data-href="www.knightscheduler.com" data-send="true" data-layout="button_count" data-width="120" data-show-faces="false" data-action="recommend" data-font="arial"></div>
    </div>
    <div id="gplus-wrapper">
        <div class="g-plusone" data-annotation="inline" data-width="120"></div>
    </div>
</div>
</div>
    </div>

<div id='slider_wrapper'>

<%= yield %>

<div id='generate_button' class='button_white'>
        <a href='#'>Generate Schedules</a>
</div>

</div>

    <div id="list">
    
        <div id='list_title'>
            Selected Courses:  <a href='#' class='delete-all'>[clear all]</a>
        </div>
        <div class='list_toggle'>
            <img id='toggle_button'src="images/toggle2.png" alt="toggle button" />
        </div>

        <thread id="course_list"></thread>
    </div>

<div class='back_button'>
    <a href='#' >Reschedule</a>
</div>

<div id='schedules'></div>

</body>
</html>
