<!DOCTYPE html>
<head>
	<title>Knight Scheduler [working title]</title>
	<script type='text/javascript' src='jquery.js'></script>
	<script type='text/javascript' src='slider-scripts.js'></script>
    
	<script type='text/javascript' src='jquery.scrollTo-min.js'></script>
	<script type='text/javascript' src='columnnav.js'></script>
    
    <script type='text/javascript' src='jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='jquery.mCustomScrollbar.js'></script>
    
	<link rel='stylesheet' href='/jquery.mCustomScrollbar.css' />
	<link rel='stylesheet' href='/styles.css' />
    
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
</head>
<body>

<img class='background' src="images/background_gradient.png" alt="grandient" />

<div id="header">Knight Scheduler</div>
<h1>A scheduling resource for Geneseo Students</h1>

<%= yield %>

<div id='generate_button'>
        <a href='#'>Generate Schedules</a>
</div>

    <div id="list">
    
        <div id='list_title'>
            Selected Courses:  <a href='#' class='delete-all'>[clear all]</a>
        </div>
        <div class='list_toggle'>
            <img id='toggle_button'src="images/toggle1.png" alt="toggle button" />
        </div>

        <thread id="course_list"></thread>
    </div>

<div class='back_button'>
    <a href='#' >Reschedule</a>
</div>

<div id='schedules'></div>

</body>
</html>
