<!DOCTYPE html>
<head>
	<title>Knight Scheduler [working title]</title>
	<script type='text/javascript' src='jquery.js'></script>
	<script type='text/javascript' src='slider-scripts.js'></script>
    
	<script type='text/javascript' src='jquery.scrollTo.js'></script>
    
	<script type='text/javascript' src='columnnav.js'></script>
    
	<link rel='stylesheet' href='/styles.css' />
</head>
<body>

<img class='background' src="images/background_gradient.png" alt="grandient" />

<div id="header">Knight Scheduler</div>

<%= yield %>

<div id='generate_button'>
    <div class='button'>
        <a href='#'>Generate Schedules</a>
    </div>
</div>

<div class="list_wrapper">
    <div id="list">
        <div id='list_title'>
            Selected Courses:
            <a href='#' class='delete-all'>clear all</a>
        </div>

        <ul id="course_list"></ul>
    </div>
</div>

<div id='schedules'></div>

<div id='back_button' class = 'button'>
    <a href='#'>Back</a>
</div>

</body>
</html>