<html>
<head>
	<title>Scheduler</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type='text/javascript' src='/elliot.js'></script>
	<link rel='stylesheet' href='/styles.css' />
</head>
<body>

<%= yield %>

</body>
</html>
