<!DOCTYPE html>
<head>
	<title>Scheduler</title>
	<script type='text/javascript' src='jquery.js'></script>
	<script type='text/javascript' src='elliott.js'></script>
	<link rel='stylesheet' href='/styles.css' />
</head>
<body>

<div id="header">Scheduler</div>

<%= yield %>

<div id="list">
    <div id='list_title'>Added Courses:</div>
    <a href='#' class='delete-all'>delete all</a>

	<ul id="course_list"></ul>
    <div id='generate_button'>
        <a href='#'>Generate Schedules</a>
    </div>
</div>

<div id='back_button'>
    <a href='#'>Back</a>
</div>

<div id='schedules'></div>

</body>
</html>
