<html>
<head>
	<title>Scheduler</title>
	<script type='text/javascript' src='jquery.js'></script>
	<script type='text/javascript' src='elliott.js'></script>
	<link rel='stylesheet' href='/styles.css' />
</head>
<body>

<div id="header"> Hey! We're Getting Somewhere.</div>

<%= yield %>

<div id="list">
	<ul id="course_list">
	</ul>
</div>

</body>
</html>
