!!! 5
%html
	%head

		%title Knight Scheduler [beta]
		%link{"href" => "/css/calendar.css", "rel" => "stylesheet", "type" => "text/css"}

		%script{"type" => "text/javascript", "src" => "js/jquery.js"}

		%script{"type" => "text/javascript", "src" => "/js/schedules.js"}
	
	%body
		= yield
