#user-actions-wrapper
	#register
		%form{ "action" => "/user/new", "method" => "post" }
			%p
				Email:
				%input.align{"type" => "text", "name" => "email"}

			%p
				Phone:
				%input.align{"type" => "text", "name" => "phone"}

			%p
				Password: 
				%input.align{"type" => "password", "name" => "password"}
				<br /><br /> (don't use your Geneseo password)
			%p
				Again:
				%input.align{"type" => "password", "name" => "password2"}

			%input{"type" => "submit", "value" => "Register"}

	#login
		%form{ "action" => "/user/authenticate.json", "method" => "post" }
			%p
				%label Email
				%input.align{"type" => "text", "name" => "email"}
			%p
				%label Password:
				%input.align{"type" => "password", "name" => "password"}
			
			%input{"type" => "submit", "value" => "Login"}
