%h1 Register 

#register
	%form{ "action" => "/user/new", "method" => "post" }
		%p
			Email:
			%input.align{"type" => "text", "name" => "email"}
		%p
			Password:
			%input.align{"type" => "password", "name" => "password"}
		%p
			Again:
			%input.align{"type" => "password", "name" => "password2"}

		%input{"type" => "submit", "value" => "Register"}
