<% @scheduler.schedules.each do |schedule| %>
<div class='schedule'>
	<h3>Schedule</h3>

	<% schedule.sections.each do |section| %>
        <span class='course-title'>• <%= section.title %></span><br/><span class='days'><%= section.time.prettyDays %>:</span><span class='time'> <%= section.time.prettyTime %></span>
         <br/><span class='crn'>CRN: <%= section.crn %></span><br/>
	<% end %>
</div>
<% end %>
