<% @scheduler.schedules.each do |schedule| %>
	<h2>Schedule</h2>

	<% schedule.sections.each do |section| %>
		<p>
		<%= section.crn %> <%= section.title %>  |  <%= section.time.prettyDays %>: <%= section.time.prettyTime %>
		</p>
	<% end %>
<% end %>
